!config:

# Specifies IP to listen to for client connections
#
# host: 0.0.0.0

# Specifies a port number to listen to for client connections
#
# port: 3690

# Sets  the  authentication  realm  of the repository.  If two repositories have the same password database,
# they should have the same realm, and vice versa; this association allows
# clients to use a single cached password for several repositories.
# The default realm value is the repository's uuid.
#
# realm: Example realm

# Enable/disable SVN traffic compression
#
# compressionEnabled: true

# Set cache location
cacheConfig: !persistentCache
  path: /var/cache/git-as-svn/git-as-svn.mapdb

repositoryMapping: !listMapping
  repositories:
    example:
      access: !acl
        groups:
          - name: developers
            users:
              - test

        access:
          - path: /
            # Use 'asterisk' (*) to allow access for all users
            # use 'at' (@) for groups
            allowed:
              - '@developers'
      repository: !git
        # Allowed pushers:
        # !pushEmbedded - use embedded push (fast, no dependencies)
        #   update: "update"            - name of update hook
        #   preReceive: "pre-receive"   - name of pre-receive hook
        #   postReceive: "post-receive" - name of post-receive hook
        # !pushNative {} - use console git for push (hooks worked, can be slow on some commits, require installed console git)
        pusher: !pushEmbedded
          update: update
          preReceive: pre-receive
          postReceive: post-receive
        # Allowed create modes:
        # - ERROR - exit with error, if repository not exists
        # - EMPTY - create empty repository
        # - EXAMPLE - create repository with example data
        createMode: EXAMPLE
        branch: master
        path: /var/git/repositories/example.git
        renameDetection: true

shared:
  # Submodule list.
  # You can define extra submodule path. Every path defined in "repositories" already included in submodule list.
  - !submodules [
  ]
  # Web server settings.
  # This web server used for some additional functionality like Git LFS support.
  # Subversion WebDAV access (via http/https) IS NOT SUPPORTED now.
  - !web
    # baseUrl: http://git-as-svn.local/
    listen:
    - !http
      host: localhost
      port: 8123
      # Use X-Forwarded-* headers
      forwarded: true
  # Git LFS server
  - !lfs
    # Secret token for git-lfs-authenticate script
    # token: secret
    path: /var/git/lfs
  - !socket
    # Unix domain socket for API
    path: /var/run/git-as-svn/git-as-svn.socket

# Simple in-memory user database
userDB: !localUsers
  users:
    - username: test
      # Clear-text password is required to perform CRAM-MD5 authentication
      password: test
      # Email and real name are used to create Git commits
      email: test@noreply.fake
      realName: Test User

# Authenticates a user by binding to the directory with the DN of the entry for that user and the password
# presented by the user. If this simple bind succeeds the user is considered to be authenticated.
#
#userDB: !ldapUsers

# This is a URL whose format is defined by the JNDI provider.
# It is usually an LDAP URL that specifies the domain name of the directory server to connect to,
# and optionally the port number and distinguished name (DN) of the required root naming context.
#
# connectionUrl: ldap://localhost:389/ou=groups,dc=mycompany,dc=com

# This is a file of LDAP SSL CA certificate.
#
# ldapCertPem: ldap.pem

# Pattern specifying the LDAP search filter to use after substitution of the username.
#
# searchFilter: (&(objectClass=person)(objectClass=user))

# LDAP bind (default - anonymous bind):
#
# bind: !ldapBindSimple
#   username: somebody
#   password: secret
#
# bind: !ldapBindDn
#   bindDn: cn=somebody,ou=groups,dc=mycompany,dc=com
#   password: secret
#

# LDAP attribute, containing user login.
#
# loginAttribute: uid

# LDAP attribute, containing user name.
#
# nameAttribute: name

# LDAP attribute, containing user email.
#
# emailAttribute: mail
