!config:
realm: Gitea Realm
compressionEnabled: true
parallelIndexing: true

# Use Gitea repositories
repositoryMapping: !giteaMapping
  path: /data/git/repositories
  template:
    branch: master
    renameDetection: true

# Use Gitea user database
userDB:
  !sshKeyUsers
    userDB: !giteaUsers {}
    sshKeysToken: CHANGE_THIS_TO_SOMETHING_SECRET

shared:
  # Gitea LFS server - uses the GitLab layout
  - !lfs
    path: /data/git/lfs
    saveMeta: false
    compress: false
    layout: GitLab
  # Gitea server
  - !gitea
    url: http://localhost:3000/api/v1
    #token: de0c16fdc2c2ec5bcb4917922900015d3bceb82b
    token: 90c68b84fb04e364c2ea3fc42a6a2193144bc07d
  - !giteaSSHKeys
  # if you want to run on Gitea v1.7.0 you don't need
  # giteaSSHKeys and can simply use sshKeys
  # - !sshKeys
    shadowSSHDirectory: /data/git/ssh-shadow
    realSSHDirectory: /data/git/.ssh
    originalAppPath: /app/gitea/gitea
    svnservePath: /app/gitea/git-as-svn-svnserve
  # If your gitea instance is using AuthorizedKeysCommand
  # look at tools/git-as-svn-authorized-keys-command
  # You don't need sshKeys in that case