!config:

# Specifies IP to listen to for client connections
#
# host: 0.0.0.0

# Specifies a port number to listen to for client connections
#
# port: 3690

# Sets  the  authentication  realm  of the repository.  If two repositories have the same password database,
# they should have the same realm, and vice versa; this association allows
# clients to use a single cached password for several repositories.
# The default realm value is the repository's uuid.
#
# realm: Example realm

repositoryMapping: !listMapping
  repositories:
    example: !git
      # Allowed push modes:
      # - SIMPLE - use embedded push (hooks ignored, fast, no dependencies)
      # - NATIVE - use console git for push (hooks worked, can be slow on some commits, requie installed console git)
      pushMode: SIMPLE
      # Allowed create modes:
      # - ERROR - exit with error, if repository not exists
      # - EMPTY - create empty repository
      # - EXAMPLE - create repository with example data
      createMode: EXAMPLE
      branch: master
      path: example.git
      renameDetection: true

acl:
  groups:
    - name: developers
      users:
        - test

  access:
    - path: /
      # Use 'asterisk' (*) to allow access for all users
      # use 'at' (@) for groups
      allowed:
        - '@developers'

# Simple in-memory user database
userDB: !localUsers
  users:
    - username: test
      # Clear-text password is required to perform CRAM-MD5 authentication
      password: test
      # Email and real name are used to create Git commits
      email: test@noreply.fake
      realName: Test User

# Authenticates a user by binding to the directory with the DN of the entry for that user and the password
# presented by the user. If this simple bind succeeds the user is considered to be authenticated.
#
#userDB: !ldapUsers

# The type of authentication to use.
#
#  authentication: DIGEST-MD5

# This is a URL whose format is defined by the JNDI provider.
# It is usually an LDAP URL that specifies the domain name of the directory server to connect to,
# and optionally the port number and distinguished name (DN) of the required root naming context.
#
# connectionUrl: ldap://localhost:389/ou=groups,dc=mycompany,dc=com

# The JNDI context factory used to acquire our InitialContext. By
# default, assumes use of an LDAP server using the standard JNDI LDAP
# provider.
#
# contextFactory: com.sun.jndi.ldap.LdapCtxFactory

# Pattern specifying the LDAP search filter to use after substitution of the username.
#
# userSearch: (mail={0})

# LDAP attribute, containing user name.
#
# nameAttribute: name

# LDAP attribute, containing user email.
#
# emailAttribute: mail

# The search scope. Set to `true` if you wish to search the entire subtree rooted at the
# userBase entry. The default value of `false` requests a single-level search
# including only the top level.
#
# userSubtree: false
