!config:
realm: Example realm
compressionEnabled: true

repositoryMapping: !gitlabMapping
  path: /home/bozaro/github/gitlab-development-kit/repositories/
  template:
    branch: master
    renameDetection: true

acl: {}

shared:
  # Web server settings.
  - !web
    baseUrl: http://git-as-svn.local/
    listen:
    - !http
      host: localhost
      port: 8123
      # Use X-Forwarded-* headers
      forwarded: true
  # Git LFS server
  - !lfs
    path: lfs
    token: secret
  # GitLab server
  - !gitlab
    url: http://localhost:3000/
    hookUrl: http://localhost:8123/
    token: qytzQc6uYiQfsoqJxGuG

# Simple in-memory user database
userDB: !gitlabUsers {}
