#Launcher configure
[Environment]
Package=git-as-svn.jar
Params=--config config.example --show-config

[Posix]
JAVA_HOME=/opt/jdk
stdout=/tmp/git-as-svn.stdio.log


[Windows]
JAVA_HOME=C:\\jdk
stdout=%TEMP%\\git-as-svn.stdio.log
