<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="log-path">/var/log/git-as-svn</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFileInfo" fileName="${log-path}/git-as-svn.log"
					 filePattern="${log-path}/git-as-svn.log.%i">
			<PatternLayout pattern="%d{ISO8601} %5p [%t] (%F:%L) - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<RollingFile name="RollingFileError" fileName="${log-path}/git-as-svn.error.log"
					 filePattern="${log-path}/git-as-svn.error.log.%i">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{ISO8601} %5p [%t] (%F:%L) - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} %5p [%t] (%F:%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="RollingFileInfo" />
			<AppenderRef ref="RollingFileError" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
