<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file is part of git-as-svn. It is subject to the license terms
    in the LICENSE file found in the top-level directory of this distribution
    and at http://www.gnu.org/licenses/gpl-2.0.html. No part of git-as-svn,
    including this file, may be copied, modified, propagated, or distributed
    except according to the terms contained in the LICENSE file.

-->
<Configuration>
	<Properties>
		<Property name="log-path">.</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFile" fileName="${log-path}/git-as-svn.log"
					 filePattern="${log-path}/git-as-svn.log.%i">
			<PatternLayout pattern="%5p [%t] (%F:%L) - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%5p [%t] (%F:%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>