Source: git-as-svn
Section: java
Priority: optional
Maintainer: Artem V. Navrotskiy <bozaro@yandex.ru>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/bozaro/git-as-svn
Vcs-Git: https://github.com/bozaro/git-as-svn.git

Package: git-as-svn
Architecture: all
Depends: adduser, java8-runtime-headless
Suggests: ufw
Description: git-as-svn emulates Subversion repository on top of Git repository
 It allows you to work with a git repository using console svn, TortoiseSVN,
 SvnKit and similar tools.

Package: git-as-svn-lfs
Architecture: all
Depends: git-as-svn, python
Description: This project contains git-lfs-authenticate script. This script used
 for SSO authentication for SSH Git users.
