#!/usr/bin/make -f
# -*- makefile -*-

GAS=debian/git-as-svn
LFS=debian/git-as-svn-lfs

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@ 

override_dh_install:
	dh_install

	cp ../../../src/docs/asciidoc/examples/config.yml	$(GAS)/etc/git-as-svn/git-as-svn.conf
	ln -s ../share/git-as-svn/bin/git-as-svn $(GAS)/usr/bin

override_dh_fixperms:
	dh_fixperms

#	chown git:git -R $(GAS)/var/git/lfs
#	chown git:git -R $(GAS)/var/git/repositories
#	chown git:git -R $(GAS)/var/cache/git-as-svn
#	chown git:git -R $(GAS)/var/log/git-as-svn

override_dh_compress:
	gzip -9nf $(GAS)/usr/share/doc/git-as-svn/LICENSE $(GAS)/usr/share/doc/git-as-svn/README.adoc $(GAS)/usr/share/doc/git-as-svn/changelog
	gzip -9nf $(LFS)/usr/share/doc/git-as-svn-lfs/changelog
