[Unit]
Description=git-as-svn server
After=network.target syslog.target
ConditionFileNotEmpty=/etc/git-as-svn/git-as-svn.conf

[Service]
User=git
EnvironmentFile=/etc/default/git-as-svn
ExecStart=/usr/bin/git-as-svn --config /etc/git-as-svn/git-as-svn.conf $GAS_ARGS
KillMode=process
Restart=on-failure
RuntimeDirectory=git-as-svn
RuntimeDirectoryMode=700

[Install]
WantedBy=default.target
